<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Edit Restaurant</title>
    </head>
    <body>
        <h1>Edit Restaurant</h1>
        <form method='post' action="{{url_for('editRestaurant',restaurant_id = restaurant.id)}}">
            <p>Name:</p>
            <input type='text' name='editRestaurant' placeholder='{{restaurant.name}}'>
            <input type='submit' value='Edit'>
            <a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">Cancel</a>
        </form>
    </body>
</html>