<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New Menu Item</title>
    </head>
    <body>
        <h1>New Menu Item</h1>
        <form method='post' action="{{url_for('newMenuItem', restaurant_id = restaurant_id)}}">
            <p>Name:</p>
            <input type='text' name='item_name'>
            <p>Description:</p>
            <input type='text' name='item_description'>
            <p>Price:</p>
            <input type='text' name='item_price'>
            <p>Course:</p>
            <input type="radio" name="item_course" value="Appetizer">Appetizer</br>
            <input type="radio" name="item_course" value="Entree">Entree</br>
            <input type="radio" name="item_course" value="Dessert">Dessert</br>
            <input type="radio" name="item_course" value="Beverage">Beverage
            <p><input type='submit' value='Create'></p>
        </form>
    </body>
</html>