<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
    </head>
    <body>
        <h1>
            {{restaurant.name}}
            <figure>
				<img src="{{ creator.picture}}" style="width:100px;height 100 px;">
				<figcaption><span style="font-size:18px">{{creator.name}}</span></figcaption>
			</figure>
        </h1>
        <p><a href="{{url_for('showRestaurants')}}">Show All Restaurants</a></p>
        {% if not items %}
        <p> There are currently no menu items.</p>
        {% endif %}
        
        {% if items %}
            {% set gns = namespace(courses = ["Appetizer", "Entree", "Dessert", "Beverage"]) %}
            {% for course in gns.courses %}
                {% set ns = namespace(found = False) %}
                {% for item in items %}
                {% if item.course == course and not ns.found %}
                <h2>{{course + 's'}}</h2>
                {% set ns.found = True %}
                {% endif %}
                {% endfor %}
                
                {% for item in items %}
                {% if item.course == course %}
                    <p>
                        {{item.name}}
                        </br>
                        {{item.description}}
                        </br>
                        {{item.price}}
                    </p>
                {% endif %}
                {% endfor %} 
            {% endfor %}
        {% endif %}
    </body>
</html>