<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Restaurants</title>
        <style>
            a:link.resto{
                text-decoration: none;
                color: black;
            }
            a:visited.resto{
                color: black;
            }
            a:hover.resto{
                text-decoration: underline;
                color: black;
            }
        </style>
    </head>
    <body>
        <h1>Restaurants</h1>
        <div>
		    {% with messages = get_flashed_messages() %}
                {% if messages %}   
                <ul>
                {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>
        <p><a href="{{url_for('showLogin')}}">Click Here to Log in</a></p>
        {% if not restaurants %}
        <p> There are currently no restaurants.</p>
        {% endif %}
        {% if restaurants %}
        {% for restaurant in restaurants %}
            <p>
                <a class='resto' href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">{{restaurant.name}}</a>
            </p>
        {% endfor %}
        {% endif %}
    </body>
</html>