<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Restaurants</title>
    </head>
    <body>
        <h1>Restaurants</h1>
        {% if not restaurants %}
        <p> You currently have no restaurants.</p>
        {% endif %}
        <a href="#">Add a new restaurant</a>
        {% if restaurants %}
        {% for restaurant in restaurants %}
            <p>
                {{restaurant.name}}
                </br>
                <a href="#">Edit Restaurant</a>
                </br>
                <a href="#">Delete Restaurant</a>
            </p>
        {% endfor %}
        {% endif %}
    </body>
</html>