<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Restaurants</title>
        <style>
            a:link.resto{
                text-decoration: none;
                color: black;
            }
            a:visited.resto{
                color: black;
            }
            a:hover.resto{
                text-decoration: underline;
                color: black;
            }
        </style>
    </head>
    <body>
        <h1>Restaurants</h1>
        {% if not restaurants %}
        <p> You currently have no restaurants.</p>
        {% endif %}
        <a href="{{url_for('newRestaurant')}}">Add a new restaurant</a>
        {% if restaurants %}
        {% for restaurant in restaurants %}
            <p>
                <a class='resto' href="{{url_for('showMenu', restaurant_id = restaurant.id)}}">{{restaurant.name}}</a>
                </br>
                <a href="{{url_for('editRestaurant', restaurant_id = restaurant.id)}}">Edit Restaurant</a>
                </br>
                <a href="{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}">Delete Restaurant</a>
            </p>
        {% endfor %}
        {% endif %}
    </body>
</html>